{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid mt-5 p-5" style="justify-content:centered">
  <header> HOODIE</header>

  <p>Some information might be incorrect</p>
  {% endif %}
  <div class="card" style="max-width:30rem;margin-top:5px;align:center;">
    <div class="card-header">
      <h3 class="text-center">Sign In</h3>
    </div>
    <div class="card-body">
      <form action="/accounts/login/" method="post">
        {% csrf_token %} {% bootstrap_form form %}
        <div class="form-group">
          <input type="submit" class="btn btn-outline-primary btn-sm" value="login">
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
    <p class="text-center">Don't have an account?<a class="btn btn-default" href="/signup/">Sign Up</a></p>
  </div>
</div>

{% endblock %}