{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<div class="container-fluid mt-5 p-5">
  <header style="font-size: 40px;">HOODIES</header>
  <h2 class="one d-flex justify-content">Sign up</h2>
  <div class="one d-flex justify-content-end">

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      <div class="form-group">
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Sign Up">
        <p class="text">Do you already have an account?<a class="btn btn-default" href="/accounts/login/">Sign In</a>
        </p>
      </div>
      <input type="hidden" name="next" value="{{next}}">

    </form>

  </div>

</div>
{% endblock %}