{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}

<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container-fluid">
  <header>
    <h1>{{hood.hood_name}}</h1>
  </header>
  <div class="row">
    <div class="col-4">
      <a class="btn btn-sm btn-danger" href="{% url 'exitHood' hood.id %}">Leave Neighbourhood</a>
      <h4>Police and Healthcare</h4>
    </div>
    <div class="col-6">
      {% if businesses %}
      {% for biz in businesses %}
     

      <div class="card mr-0" style="max-width:30rem; margin-top:5px;">

        
        <div class="card-body">
          {{business.b_name}}
          <div class="media">
            <div class="media-left media-top">

              <img class="img-fluid rounded-circle" src="{{biz.b_photo.url}}" class="media-object" style="height: 70px; width: 70px;">

            </div>
            <div class="media-body">
              <h4 class="media-heading" style="padding:10px; margin:5px">{{biz.b_name}}</h4>
              <button class=" three d-flex justify-content-end" style="float:right; padding:10px; margin:5px">{{ biz.b_description }}</button>
              <button class="four d-flex justify-content-end" style="float:right; padding:10px; margin:5px">{{ biz.b_email}}</button>

            </div>
          </div>
        </div>

      </div>
      {% endfor %}
      <div>
        {% else %}
        <p>No Biz</p>
        {% endif %}
      </div>
</div>
        <div class="col-2">
          <h4>List of Neighbours</h4>

        </div>
  </div>
</div>

{% endblock %}