{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}

<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<div class="c" style="padding-top: 24px">
  {% include 'message/message.html' %}
</div>

<div class="container-fluid">
  <header>
    <h1>{{hood.hood_name}}</h1>
  </header>
  <div class="row">
    <div class="col-3 ">
      
      <a class="btn btn-sm btn-danger" href="{% url 'exitHood' hood.id %}">Leave Neighbourhood</a>

      <h4>Police and Healthcare</h4>
    </div>
    <div class="col-5">
      <h4>{{hood.hood_name}} posts</h4>
      <hr>
      {%if posts%}
      {% for post in posts %}
      <div class="media">
        <div class="media-left media-top">
          <img src="{{post.user.profile_photo.cdn_url}}" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ post.title }}</h4>
          <h6 class="media-heading">{{ blogpost.topic }}</h6>
          <p class="media-content">{{ post.content }}</p>

        </div>
        <small><a class="mr-2" href="#">{{ post.user }}</a></small>
        <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-danger">Delete</a>
        <hr>

      </div>
          
        </div>

        </div>

      </div>
      {% endfor %}
      <div>
        {% else %}
        <p>No Posts yet</p>
        <a class="btn btn-sm btn-secondary" href="{% url 'creat_post' %}">Create Post</a>
        {% endif %}
      </div>
    </div>
    <div class="col-3">
      <h4>Businesses</h4>
      <hr>
      {% if businesses %}
      {% for biz in businesses %}
      <div class="media">
        {{businesses.b_name}}
        <div class="media-left media-top">
          <img class="img-fluid rounded-circle" src="{{biz.b_photo.cdn_url}}" class="media-object" style="height: 50px;
                  width: 60px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading" style="padding:10px; margin:5px">{{biz.b_name}}</h4>
          <p>{{ biz.b_description }}</p>
          <p>{{ biz.b_email}}</p>
        </div>
      </div>
      {% endfor %}
      <div>
        {% else %}
        <p>No Biz</p>
        <a class="btn btn-sm btn-secondary" href="{% url 'add_business' %}">Add Business</a
        {% endif %}
  </div>
</div>

{% endblock %}